.project-details {
    background: radial-gradient(50% 200px at top, rgba(127, 255, 212, 0.25), transparent);
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    padding: 0 1em;
}

.project-details > h1 {
    margin: 1.5em auto;
}

.project-details > section {
    margin-bottom: 2em;
}

.project-details > section > div {
    display: flex;
    justify-content: space-between;
    margin: 0.7em 0;
}