.project-details {
    max-width: 500px;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    padding: 0 1em;
}

.project-details > h1 {
    margin: 1.5em auto;
}

.project-details > section {
    margin-bottom: 2em;
}

.project-details > section > div {
    display: flex;
    justify-content: space-between;
    margin: 0.7em 0;
}